.locations-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 768px) {
  .locations-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 400px) {
  .locations-grid {
    grid-template-columns: 1fr;
  }
}