div:has(.search-list) {
  position: relative;
}
.search-list {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 0.5rem;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.search-list li {
  cursor: pointer;
  padding: 0.2rem 0.5rem;
}
.search-list li:hover {
  background-color: black;
  color: #fff;
}